* {
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    color: #86868B;
}
body{
    background-color: #131313;
}
header{
    margin-top: 2px;
    background-color: #2B2B2B;
    margin-bottom: 4px;
}
footer{
    background-color: #2B2B2B;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.titleh1{
    font-size: 50px;
    color: #1561F0;
}
h2{
    color: #1561F0;
}

// header
#navbarNav{
    justify-content: flex-end;
}
.navbar-collapse{
    justify-content: flex-end;
}

.header__logo{
    width: 70px;
    height: 58px;
}
.container-fluid a{
    color: #1561F0
}
.nav-item a{
    color: #1561F0;
}

// main

.div__section{
    display: flex;
}
.container__section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    width: 350px;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid #d4d4d4;
    background-color: #414141;
    justify-content: space-between;
}   
.card img{
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.card img:hover {filter: saturate(180%);}

.card__info{
    width: 90%;
    text-align: center;
    margin-bottom: 20px;
}

// multimedia y video

.flex__vid{
    display: flex;
    
}
.container__vid{
    display: flex;
    background-color: #d0d6f5;
}


//tamaño original: width: 560px; height: 315px;
/* Start: Video Responsive */

/* End: Video Responsive */



// sobre-nosotros

.sobrenos__container{
    display: flex;
}
.sobrenos__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sobrenos__div{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.img__sobrenos{
    width: 500px;
    height: auto;
}
/* .div__video
    width: 560px;
    height: 315px;
 */
.text__video{
    margin-right: 20px;
}
.video__container {
    position: relative;
	padding-bottom: 40.75%; /*panorámico*/
	margin-top: 15px;
	
    width: 1080px;
    height: 520px;
}
.video__container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 98%;
}


// MAIN PROYECTOS GRID

.proyectos__flex{
    display: flex;
}
.proyectos__div{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}
.proyectos__grid{
    display: grid;
}
.proyectos__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
}
.proyectos__item{
    position: relative;
}
.proyectos__item img:hover {filter: saturate(180%);}

.proyectos__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyectos__title{
    position: absolute;
    bottom: 0;
    color: #86868B;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(0,0,0,1));
    width: 100%;
    font-size: 2rem;
}

.proyectos__item:nth-child(4) {
    grid-column-start: span 2;
}
.proyectos__item:nth-child(3) {
    grid-row-start: span 2;
}
.proyectos__item:nth-child(9) {
    grid-column-start: span 2;
}

// membresia

.carousel-inner img {
    width: 100%;
    max-height: 460px;
    object-fit: none;
}
.carousel-inner{
    height: 400px;
    background-color: white;
}
.flex__member{
    display: flex;
}
.flex__member{
    display: flex;
    justify-content: center;
}
.img-chica{
    width: 224px;
    height: 225px;
    margin-bottom: 10px;
}

.img-membresia{
    width: 100%;
    height: 100%;
}


// contact us

.flex__contact{
    display: flex;
}
.container__fluid{
    width: 100
}
.container__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title__contact {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 500;
    font-size: 72px;
    color: white;
    text-align: center;
}

.titleh4__contact {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.message__contact{
    margin-left: 5px;
}


// footer

.footer__container{
    display: flex;
}
.flex__footer{
    display: flex;
}
.footer__div{
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer__div img {
    display: flex;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 8px;
}
.footer__div img:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}
.footer__div {overflow:hidden;}

.name__footer{
    display: flex;
    width: 100%;
}
.name__footer h2{
    margin-top: 10px;
    font-size: 2rem;
}
.footer__logo{
    margin-left: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
                0 1px 1px 0 rgba(0,0,0,0.09);
}


@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
color: #ccc;
font-style: italic;
} 

input[type=checkbox]:checked + label {
color: #f00;
font-style: normal;
}


@media (min-width: 1024px){  
    .proyectos__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .proyectos__item:nth-child(2){
        grid-column-start : span 2;
    }
    .proyectos__item:nth-child(3){
        grid-row-start : span 3;
    }
    .proyectos__item:nth-child(4){
        grid-column-start : span 2;
    }
    .proyectos__item:nth-child(6){
        grid-row-start : span 2;
    }
    .proyectos__item:nth-child(9){
        grid-column-start : span 2;
    }
    .proyectos__item:nth-child(7){
        grid-column-start : span 2;
    }
} 

@media (min-width: 1440px){  
    .proyectos__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .proyectos__item:nth-child(1){
        grid-column-start : span 2;
        grid-row-start : span 2;
    }
    .proyectos__item:nth-child(3){
        grid-row-start : span 3;
    }
    .proyectos__item:nth-child(4){
        grid-column-start : span 2;
    }
    .proyectos__item:nth-child(6){
        grid-row-start : span 2;
    }
    .proyectos__item:nth-child(9){
        grid-column-start : span 3;
    }
    .proyectos__item:nth-child(7){
        grid-column-start : span 2;
    }
} 
@media (max-width: 2500px){
    .card{
        margin-right: 100px;
        margin-left: 100px;
    }
}
@media (max-width: 1800px){
    .card{
        margin-right: 40px;
        margin-left: 40px;
    }
}
@media (max-width: 1440px){
    .video__container{
        width: 854px;
        height: 480px;
    }
}
@media (max-width: 1440px){
    .card{
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (max-width: 1200px){
    .video__container{
        width: 704px;
        height: 330px;
    }
    .card{
        margin-right: 40px;
        margin-left: 40px;
    }
    .name__footer h2{
        font-size: 30px;
    }
}
@media (max-width: 1024px){
    .video__container{
        width: 640px;
        height: 360px;
    }
    .container__vid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div__video{
        display: flex;
        justify-content: center;
    }
    .card{
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media(max-width: 850px){
    .name__footer h2{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .video__container{
        width: 426px;
        height: 240px;
    }
    .header__list{
        list-style: none;
        display: flex;
        padding: 0 0px;
        justify-content: flex-end;
        flex-grow: 3;
    }
    .flex__footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .name__footer{
        display: flex;
        justify-content: center;
    }
    .footer__div{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 660px){
    .header__list{
        list-style: none;
        display: flex;
        padding: 0 0px;
        justify-content: flex-end;
        flex-grow: 3;
    }
}@media (max-width: 620px){
    .header__item{
        padding: 15px;
    }
    .header__list{
        list-style: none;
        display: flex;
        padding: 0 0px;
        justify-content: flex-end;
        flex-grow: 3;
    }
    .header__nav img{
        display: flex;
        width: 40px;
        height: 40px;
        top: 4px;
        left: 15px;
        position: relative;
        border-radius: 30px;
        background-color: #86868B;
    }
}

@media (max-width: 600px){
    .container__vid{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .div__video{
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 580px){
    .header__item{
        padding: 10px;
    }
    .header__list{
        list-style: none;
        display: flex;
        padding: 0 0px;
        justify-content: flex-end;
        flex-grow: 3;
    }
    .header__nav img{
        display: flex;
        width: 35px;
        height: 35px;
        top: 3px;
        left: 10px;
        position: relative;
        border-radius: 30px;
        background-color: #86868B;
    }
}
@media (max-width: 525px){
    .header__item{
        padding: 1px;
    }
    .header__list{
        list-style: none;
        display: flex;
        padding: 0 0px;
        justify-content: flex-end;
        flex-grow: 3;
    }
    .header__nav img{
        display: flex;
        width: 30px;
        height: 30px;
        top: 1px;
        left: 3px;
        position: relative;
        border-radius: 30px;
        background-color: #86868B;
    }
}




