#navbarNav{
    justify-content: flex-end;
}
.navbar-collapse{
    justify-content: flex-end;
}

.header__logo{
    width: 70px;
    height: 58px;
}
.container-fluid a{
    color: #1561F0
}
.nav-item a{
    color: #1561F0;
}