#navbarNav{
    justify-content: flex-end;
}
.navbar-collapse{
    justify-content: flex-end;
}

.header__logo{
    width: 65px;
    height: 53px;
    margin: 0 10px 0 10px
}
.main__title{
    color: black;
}
.container-fluid a{
    color: black;
}
.nav-item a{
    color: #E73725;
}